html{
	margin: 0;
	padding: 0;
}
body{
	background-image:url(../img/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
nav{
	background-color:#000000; 
}