<!DOCTYPE html>
<html ng-app='MainApp'>

<head>
    <title>Quiz Mundial</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="Nucleus.js"></script>
</head>

<body ng-controller='controladorPrincipal'>


    <div class="container">
        <div class="jumbotron text-center">
            <h1>Nro de registros: - {{paises.length}} -</h1>
        </div>
        <!-- BOTON DEL MODAL AGREGAR -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarModal">
          Agregar pregunta
      </button>
      <!-- MODAL DE AGREGAR -->
      <div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agrege una nueva pregunta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form name="myForm">
                <div class="form-group">
                    <div>
                        <select class="form-control" ng-model='newPais.nombre'>
                            <option value="" hidden>Seleccione el país</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Australia">Australia</option>
                            <option value="Bélgica">Bélgica</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croacia">Croacia</option>
                            <option value="Dinamarca">Dinamarca</option>
                            <option value="Egipto">Egipto</option>
                            <option value="Inglaterra">Inglaterra</option>
                            <option value="Francia">Francia</option>
                            <option value="Alemania">Alemania</option>
                            <option value="Islandia">Islandia</option>
                            <option value="Irán">Irán</option>
                            <option value="Japón">Japón</option>
                            <option value="México">México</option>
                            <option value="Marruecos">Marruecos</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Panamá">Panamá</option>
                            <option value="Perú">Perú</option>
                            <option value="Polonia">Polonia</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Rusia">Rusia</option>
                            <option value="Arabia Saudita">Arabia Saudita</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Corea del Sur">Corea del Sur</option>
                            <option value="España">España</option>
                            <option value="Suecia">Suecia</option>
                            <option value="Suiza">Suiza</option>
                            <option value="Túnez">Túnez</option>
                            <option value="Uruguay">Uruguay</option>
                        </select>
                    </div><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Pregunta" ng-model='newPais.pregunta' required><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Primera respuesta" ng-model='newPais.respuesta1' required><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Segunda respuesta" ng-model='newPais.respuesta2' required><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Tercera respuesta" ng-model='newPais.respuesta3' required><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Cuarta respuesta" ng-model='newPais.respuesta4' required>
                </div>
                <div><h6>*Recuerde que la <strong>Primera respuesta</strong> será considerada la verdadera.</h6></div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success" ng-click="registrarPais()" ng-disabled='myForm.$invalid || selected' data-dismiss="modal">Agregar</button>
        </div>
    </div>
</div>
</div>

<!--FIN MODAL AGREGAR -->

<div class="row">
    <div class="">
        <table class="table table-striped">                      
            <tr class="info">
                <td>Pais</td>
                <td colspan="2">Preguntas</td>
            </tr>
            <tr ng-repeat='pais in paises | orderBy:"nombre"' ng-click='selectPais(pais)' data-toggle="modal" data-target="#editarModal">
                <td>{{pais.nombre}}</td>
                <td>{{pais.pregunta}}</td>
        </table>
    </div>
</div>

<!-- INICIO MODAL DE EDITAR -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edite la pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form name="myForm">
        <div class="form-group">
            <label for="pregunta">Pregunta:</label>
            <input type="text" class="form-control input-lg text-center" ng-model='newPais.pregunta' required>
        </div>
        <div>
            <label for="respuesta1" class="col-form-label">Respuesta 1:</label>
            <input type="text" class="form-control input-lg text-center" ng-model='newPais.respuesta1' required>
        </div>

        <div>
            <label for="respuesta2" class="col-form-label">Respuesta 2:</label>
            <input type="text" class="form-control input-lg text-center" ng-model='newPais.respuesta2' required>
        </div>

        <div>
            <label for="respuesta3" class="col-form-label">Respuesta 3:</label>
            <input type="text" class="form-control input-lg text-center" ng-model='newPais.respuesta3' required>
        </div>

        <div>
            <label for="respuesta4" class="col-form-label">Respuesta 4:</label>
            <input type="text" class="form-control input-lg text-center" ng-model='newPais.respuesta4' required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-warning" ng-click='modificarPais(newPais)' ng-disabled='!newPais.nombre || !newPais.pregunta || !newPais.respuesta1 || !newPais.respuesta2 || !newPais.respuesta3 || !newPais.respuesta4 || !selected' data-dismiss="modal">Modificar</button>
    <button type="submit" class="btn btn-danger" ng-click='borrarPais(newPais)' ng-disabled='!newPais.nombre || !newPais.pregunta || !newPais.respuesta1 || !newPais.respuesta2 || !newPais.respuesta3 || !newPais.respuesta4 || !selected ' data-dismiss="modal">Eliminar</button>
</div>
</div>
</div>
</div>
<!--FIN MODAL EDITAR -->

</div>

<script>
    $('#agregarModal').on('shown.bs.modal', function() {
        $(this)
        .find("input,textarea,select")
        .val('')
        .end();
    })
</script>
</body>

</html>
